<!doctype html>
<html ng-app="listaTarefas">

<head>
    <meta charset="UTF-8">
    <title>Lista de Tarefas</title>
    <link rel="stylesheet" type="text/css" href="_CSS/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="_CSS/style.css">
    <script src="_JS/angular.js"></script>
    <script src="_JS/lista.js"></script>
    <script src="_JS/app.js"></script>
</head>

<body ng-controller="Controller">
        <div class="jumbotron">
            <div class="container cat">
            <header>
                <ul class="nav nav-tabs topo">
                    <li role="presentation"><a href="indexCategorias.html"> Ver tarefas por categorias</a></li>
                    <li role="presentation"><a href="add-categoria.html"> + Categoria</a></li>
                    <li role="presentation"><a href="add-tarefa.html"> + Tarefa</a></li>
                </ul>
            </header>
            <table class="table table-hover">
                <caption>
                    <p class="titulo">{{pendentes}}</p>
                </caption>
                <tr>
                    <th>Tarefa Realizada</th>
                    <th>Tarefa</th>
                    <th>Categoria</th>
                </tr>
                <tr ng-repeat="tarefa in tarefas | filter:{ feito: false }" class="text-left">
                    <td><input type="checkbox" ng-model="tarefa.feito" /></td>
                    <td>{{tarefa.nome}}</td>
                    <td>{{tarefa.categoria}}</td>
                </tr>
            </table>
            <hr>
            <div>
                <table class="table table-hover">
                    <caption>
                        <p class="titulo">{{concluidas}}</p>
                    </caption>
                    <tr>
                        <th>Tarefa Realizada</th>
                        <th>Tarefa</th>
                        <th>Categoria</th>
                    </tr>
                    <tr ng-repeat="tarefa in tarefas |  filter:{ feito: true }" class="text-left">
                        <td><input type="checkbox" ng-model="tarefa.feito" /></td>
                        <td class="feitas">{{tarefa.nome}}</td>
                        <td class="feitas">{{tarefa.categoria}}</td>
                    </tr>
                </table>
                <hr>
            </div>
        </div>
    </div>
</body>

</html>
