.jumbotron{
    background-color: lightslategrey;
}
.first{
    background-color: ghostwhite;
}
.realizadas td {
    text-decoration: line-through;
}
h3{
    background-color:skyblue;
}
.realizadas, .pendentes{
    border: 2px solid black;
}
.adicionar{
    text-align: center;
}
caption{
    border: 1px solid;
    border-top-left-radius: 5px;
    font-size: 18px;
}
