<!Doctype html>
<html ng-app="listaDeTarefas">
<head>
    <meta charset="utf-8">
    <title>Lista de Tarefas</title>
    <link rel="stylesheet" href="_css/boostrap337.css" type="text/css">
    <link rel="stylesheet" href="_css/style.css" type="text/css">
    
    <script type="text/javascript" src="_javascript/angularJS.js"></script>
    <script src="_javascript/scriptTarefas.js" type="text/javascript"></script>

</head>

<body ng-controller="criacaoTarefasCtrl">
    <div class="jumbotron">
        <div class="container first">
            <header>
                <ul class="nav nav-tabs topo">
                    <li role="presentation"><a href="index.html"> Ver tarefas por categorias</a></li>
                    <li role="presentation"><a href="categorias.html"> + Categoria</a></li>
                    <li role="presentation"><a href="tarefas.html"> + Tarefa</a></li>
                </ul>
            </header>
            <div class="col-lg-6">
                <div class="input-group adicionar">
                    <input type="text" class="form-control" placeholder="Adicione uma categoria e pressione enter">
                    <span class="input-group-btn">
            <button class="btn btn-default" type="button">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </button>
                    </span>
                </div>
            </div>
            <select ng-model="categorias.tarefas" ng-option="categoria in categorias"></select>
            <ul class="list-group" ng-repeat="categoria in tarefas">
                <h2>Categorias Disponíveis</h2>
                <li class="list-group-item">{{categoria.nome}}</li>
            </ul>
        </div>
    </div>
</body>
</html>