.container{
    background-color: white;
    border-radius: 5px;
}
.jumbotron{
    background-color: gainsboro;
    margin-bottom: auto;
    margin-top: -30px;
}
.feitas{
    text-decoration: line-through;
}
caption {
    padding-top: 5px;
}
caption .titulo{
    margin-top: 5px;
    margin-bottom: -10px;
}
input .novaCat{
    width: 100px;
}
.cat{
    width: 800px;
}
.grupo{
    padding-top: 10px;
    padding-bottom: 10px;
}
.disponiveis{
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.selecao{
    margin-bottom: 10px;
}
